@view-transition {
  navigation: auto;
}

:root {
  --transition-speed: 400ms;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

::view-transition-old(root) {
  animation:
    var(--transition-speed) var(--transition-easing) both fade-out,
    var(--transition-speed) var(--transition-easing) both blur-out;
}

::view-transition-new(root) {
  animation:
    var(--transition-speed) var(--transition-easing) both fade-in,
    var(--transition-speed) var(--transition-easing) both blur-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes blur-out {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(20px);
  }
}

@keyframes blur-in {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}